# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
exportPattern(".")

useDynLib(kohonen2)

# Import all packages listed as Imports or Depends
import(
  class,
  plyr,
  MASS
)
